#number {
  font-size:300%;
  margin-top:30px;
}
.btn,
a.btn {
  color: #fff;
  background-color: #eb6100;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}
#display {
  text-align: center;
  list-style: none;
  font-size:200%;
  margin-top:30px;
}
#list {
  margin-top:-100px;
  height:300px;
  width:100px;
  font-size:130%;
  text-align: center;
  overflow: scroll;
}
nav {
  width: 100vw;
  height: 70px;
  background-color: dimgray;
  padding-top: 20px;
  box-sizing: border-box;
}
#set {
  display: block;
  text-decoration: none;
  color: white;
  margin-left: 35px;
  font-size:20px;
}
