#number {
  font-size:300%;
  margin-top:10px;
}
.btn,
a.btn {
  color: #fff;
  background: #eb6100;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}
#display{
  text-align: center;
  font-size:200%;
  margin-top:30px;
}
#list {
  margin-top:-30px;
  height:300px;
  width:100px;
  font-size:130%;
  text-align: center;
  overflow: scroll;
}
nav {
  height: 70px;
  background-color: dimgray;
  padding-top: 5px;
  box-sizing: border-box;
}

#rireki {
  margin-top:-115px;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
.koumoku {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}
#set {
  display:none;
  text-align: center;
  font-size:150%;
  margin-top:30px;
}
#stop {
  color: #fff;
  background: #00bfff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}
